body {
    margin: 0;
    background: white;
    font-family: Arial;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #fecdd3;
    text-align: center; 
    padding: 20px 0; 
}

.title{
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

nav{
    display: inline-block; 
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 5px;
}

nav a{
    color: white;
    text-decoration: none;
}
.userForms {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.uploadImage,
.insertCaption {
    margin-bottom: 20px; 
}

.uploadImage label,
.insertCaption label {
    display: block; 
    margin-bottom: 5px; 
}

.uploadImage input[type="file"],
.insertCaption input[type="text"] {
    width: 300px;
    height: 30px;
}
#display_caption{
	 width: 375px;
    height: 150px;
    border: 1px solid black;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}
.btn {
    width: 310px;
    height: 30px;
    margin-top: 5px;
    background-color: #fecdd3;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0 auto; 
    border-radius: 5px;
    margin-top: 30px;
}


#display_image {
    width: 375px;
    height: 211px;
    border: 1px solid black;
    align-items: center;
    margin-top: 30px; 
    margin-left: auto; 
    margin-right: auto; 
}